/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		@include appearance(none);
		@include transition(background-color #{_duration(transition)} ease-in-out,
							color #{_duration(transition)} ease-in-out);

		display: inline-block;
		padding: 14px 24px;

		font-size: 12px;
		font-weight: 800;
		text-transform: uppercase;
		text-align: center;

		background: transparent;

		cursor: pointer;
		outline: none;
		border: 3px solid _palette(border2);
		@include border-radius(3px);

		&:hover {
			color: _palette(bg);
			background-color: _palette(border2);
		}
	}